<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <form th:object="${boardSearch}" class="form-inline" id="searchForm">
            <select th:field="*{searchStatus}" class="custom-select mb-2">
                <option value="title">제목</option>
                <option value="writer">작성자</option>
            </select>
            <div class="form-group mb-2">
                <input type="text"  th:field="*{searchText}"  class="form-control" placeholder="내용을 입력해주세요."/>
            </div>

            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>좋아요 수</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${boards != null}" th:each="board : ${boards}">
                <tr>
                        <td th:text="${board.id}"></td>
                        <td>
                            <span th:each="i : ${#numbers.sequence(0, board.step)}">&#160;&#160;</span>
                            <span th:text="${board.title}"></span>
                        </td>
                        <td th:text="${board.writer}"></td>
                        <td th:text="${#temporals.format(board.write_dt,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${board.like_cnt}"></td>
                        <td>
                            <a href="#" th:href="'javascript:fn_addLikeCnt('+${board.id}+')'"class="btn btn-warning">♥</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/board/{id}/edit (id=${board.id})}" class="btn btn-primary" role="button">수정</a>
                        </td>
                        <td>
                            <a href="#" th:href="'javascript:fn_delete('+${board.id}+')'"
                               class="btn btn-danger">X</a>
                        </td>
                </tr>
            </th:block>
            <tr th:if="${totalPage==0}">
                <td colspan="8">
                    <div th:align="center" class="no_data_msg">검색된 결과가 없습니다.</div>
                </td>
            </tr>
            </tbody>

        </table>
        <nav aria-label="Page navigation example ">
            <ul class="pagination">
                <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                 <li class="page-item">
                        <a class="page-link" th:if="${page != nowPage}"  th:onclick="|javascript:fn_movePage('${page}')|" th:text ="${page}"></a>
                        <a class="page-link" th:if="${page==nowPage}" th:text ="${page}" style="color:red"></a>
                </li>
                </th:block>
            </ul>
        </nav>
        <button type="button" class="btn btn-primary mb-2" th:onclick="fn_boardNew()">글쓰기</button>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
<script th:inline="javascript">
    function fn_movePage(page){
        const form = document.getElementById('searchForm');

        // 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
        const queryParams = {
            page: (page) ? page-1 : 1,
            recordSize: 10,
            pageSize: 10,
            searchStatus: form.searchStatus.value,
            searchText: form.searchText.value
        }

        /*
         * 3. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
         *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
         *    URI + 쿼리 스트링에 해당하는 주소로 이동
         *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
         */
        location.href = "/board/boardList" + '?' + new URLSearchParams(queryParams).toString();
    }
function fn_boardNew() {
    location.href = "/board/boardNew";
}

function fn_delete(id) {
    if(confirm("정말 삭제하시겠습니까?")){
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/board/" + id +"/delete");
        document.body.appendChild(form);
        form.submit();
    }
}
function fn_addLikeCnt(id) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/board/" + id +"/addLikeCnt");
    document.body.appendChild(form);
    form.submit();
}

</script>
</html>
