<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <form role="form" action="/board/boardNew" th:object="${boardForm}"  method="post">
    <input type="hidden" th:field="*{p_seq}" />
    <div class="form-group">
      <label th:for="writer">작성자</label>
      <input type="text" th:field="*{writer}" class="form-control" placeholder="작성자를 입력하세요"
             th:class="${#fields.hasErrors('writer')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="title">제목</label>
      <input type="text" th:field="*{title}"  class="form-control" placeholder="제목을 입력하세요"
             th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="content">내용</label>
      <textarea th:field="*{content}" th:style="${'height:300px'}" class="form-control" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">저장</button>
    <button type="button" class="btn btn-light" th:onclick="fn_boardListForm()">목록</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
<script th:inline="javascript">

  function fn_boardListForm() {
    location.href = "/board/boardList";
  }
</script>
</html>
